/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--dark);
}
a:visited {
  color: black;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
button {
  font-family: inherit;
}
/* ___________________________________________________________________________________________________________________________________________________ */
:root {
  --iris: #4d5ae5;
  --subtle-text: #8e8f99;
  --text: #434455;
  --light: #f4f4fd;
  --dark: #2e2f42;
  --accent: #e7e9fc;
  --success: #31d0aa;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--dark);
  letter-spacing: 0.02em;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}
.section {
  padding-bottom: 120px;
}
/* __________________________________________Header_____________________ */

header {
  box-shadow: 0 2px 2px -1px #ececec;
  padding: 24px 0px;
}
.navigation {
  display: flex;
}
.nav-list {
  display: flex;
}
.nav-list > li:not(:last-child) {
  margin-right: 40px;
}
.navigation-item {
  position: relative;
}

.current-list::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--iris);
  border-radius: 2px;
}
.logo {
  color: var(--dark);
  margin-right: 77px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover {
  color: var(--text);
}
.logo:focus {
  color: var(--iris);
}
.web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--iris);
  letter-spacing: 0.03em;
}
.studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.contacts {
  display: flex;
  color: var(--dark);
  cursor: pointer;

  margin-left: auto;
}
.navigation-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-item:hover {
  color: var(--text);
}
.navigation-item:focus {
  color: var(--iris);
}
.contacts-item1 {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 40px;
}
.contacts-item1:hover {
  color: var(--text);
}
.contacts-item1:focus {
  color: var(--iris);
}
.contacts-item2 {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-item2:hover {
  color: var(--text);
}
.contacts-item2:focus {
  color: var(--iris);
}

/* ________________________________________Index__________________ */

.main-info {
  background-color: var(--dark);

  min-width: 1158px;
  height: 603px;

  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  padding: 192px 15px;

  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main/hero.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-text {
  color: var(--light);
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;

  text-align: center;
}
.order-button {
  background-color: var(--iris);
  color: var(--light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  cursor: pointer;

  margin: 0 auto;
  display: block;
  margin-top: 48px;
  padding: 16px 32px;
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.order-button:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.order-button:focus {
  background-color: #404bbf;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.features {
  padding-top: 120px;
}
.feature-main {
  color: transparent;
  font-size: 0;
}
.feature-list {
  display: flex;
}
.feature:not(:last-child) {
  margin-right: 24px;
}
.feature {
  width: 264px;
}
.feature-img {
  display: flex;
  background-color: var(--light);
  width: 264px;
  height: 112px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.icon-feature {
  width: 64px;
  height: 64px;
}
.feature-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  margin-bottom: 8px;
}
.feature-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.what-we-do {
  text-align: center;
}

.what-we-do-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;

  margin-bottom: 72px;
}
.what-we-do-cards {
  display: flex;
}
.what-we-do-img {
  display: inline-block;
}
.what-we-do-card:not(:last-child) {
  margin-right: 24px;
}
.our-team {
  background-color: var(--light);

  text-align: center;
  padding-top: 120px;
}
.our-team-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;

  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
}
.our-team-cards {
  background-color: #fff;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.our-team-img {
  display: inline-block;
}
.our-team-name-position {
  padding: 32px 16px;
}
.our-team-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;

  margin-bottom: 8px;
}
.our-team-position {
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}

.our-team-cards:not(:last-child) {
  margin-right: 24px;
}

.icons {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
}
.icons li:not(:last-child) {
  margin-right: 24px;
}
.icon-social-team {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social-team:hover,
.icon-social-team:focus {
  background-color: #31d0aa;
}
.icon {
  width: 16px;
  height: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.section-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-main-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark);

  margin-bottom: 72px;
}
.list-customers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customer-items:not(:last-child) {
  margin-right: 24px;
}
.icon-customers {
  fill: #8e8f99;
  width: 168px;
  height: 88px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-customers:hover {
  fill: var(--iris);
  border: 1px solid var(--iris);
  border-radius: 7px;
}
.customer-items a {
  color: #8e8f99;
  display: flex;
  border-radius: 7px;
}
.customer-items a:focus {
  color: var(--iris);
}
.icon-customers {
  fill: currentColor;
  border: 1px solid currentColor;
  border-radius: 7px;
}

/* ___________________________________________Portfolio_________________ */

.hero-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.main-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filters {
  display: flex;
  margin-bottom: 72px;
}
.button {
  background-color: var(--light);
  cursor: pointer;
  /* border: 1px solid #e7e9fc; */
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris);

  padding: 8px 16px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: var(--iris);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--light);
}

.filter-buttons {
  margin-right: 24px;
}
.first-button {
  margin-left: 271px;
}
.text-buttons {
  display: inline-block;
  padding: 4px 8px;
}
.last-button {
  margin-right: 0;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-card {
  /* box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08); */
  display: inline-block;
}
.portfolio-card a {
  overflow: hidden;
}
.portfolio-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

.card-overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  top: 100%;
  left: 0;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-overlay-text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 40px;
  margin-left: 32px;
}
.portfolio-card:hover .card-overlay-text {
  transform: translateY(-100%);
  opacity: 0.9;
}

.card-img {
  display: inline-block;
  /* overflow: hidden; */
}
.potrfolio-card:nth-child(3n) {
  column-gap: 0px;
}

.portfolio-card:nth-last-child(-n + 3) {
  row-gap: 0px;
}
.project-name-type {
  border: 0.5px solid var(--light);

  padding-left: 16px;
  padding-bottom: 32px;
  padding-top: 32px;
}
.project-type {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}
.project-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark);

  margin-bottom: 8px;
}

/* _____________________Footer_________________ */
footer {
  background-color: var(--dark);
  padding-top: 100px;

  padding-bottom: 100px;
}
.footer-flex {
  display: flex;
  align-items: start;
}
.footer-info {
  font-size: 16px;
  line-height: 1.5;
  color: var(--light);

  max-width: 264px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.studio-footer {
  color: var(--light);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
}
.social-footer {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;

  margin-left: 120px;
}
.social-footer p {
  margin-bottom: 16px;
}

.icons-footer {
  display: flex;
}

.social-link-footer {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: rgb(67, 68, 85);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-footer li:not(:last-child) {
  margin-right: 16px;
}
.icon-footer {
  width: 24px;
  height: 24px;
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}

.sub-form {
  margin-left: 80px;
}
.sub-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #ffffff;
}
.sub-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--iris);
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: #ffffff;
  padding: 8px 64px 8px 24px;
  cursor: pointer;
}
.sub-btn span {
  position: relative;
}
.sub-decoration {
  margin-top: 16px;
  display: flex;
  width: 456px;
}
.sub-decoration input {
  width: 259px;

  background-color: var(--dark);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 40px;
  margin-right: 24px;

  text-indent: 16px;

  color: #fff;
}
.sub-svg {
  position: absolute;

  top: 50%;
  left: 120px;
  transform: translateY(-50%);
  width: 24px;
  height: 20px;
}
.sub-svg-decoration {
  display: inline-block;
  position: relative;
}
.sub-decoration input::placeholder {
  text-indent: 16px;
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

/* ___________________Modal_______________ */

.backdrop {
  z-index: 999;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  height: 579px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;

}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
cursor: pointer;
  height: 24px;
  width: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
                  display: flex;
                justify-content: center;
                align-items: center;
}

.close-btn:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}
.close-icon {
  width: 8px;
  height: 8px;
  fill: #000;


}

textarea {
  resize: none;
  /* color: rgba(117, 117, 117, 0.5); */
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.contact-form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #8e8f99;

  display: flex;
  flex-direction: column;

  width: 360px;
}

.modal h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;

}
.contact-input {
  width: 100%;
  font-size: 18px;
  text-indent: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 0 8px 16px;
  background-color: transparent;
}
.contact-input {
  height: 40px;
}

.contact-input:focus + span {
  fill: var(--iris);
}

.contact-input:focus {
  outline: var(--iris);
  border-color: var(--iris);
}
.modal-icons {
  position: relative;
}

.icon-svg {
  position: absolute;

  width: 12px;
  height: 12px;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
.field {
  margin-bottom: 4px;
  position: relative;
  margin-top: 8px;

}
.label-usen-name{
  margin-top: 16px;

}
.contact-form label:last-child {
  margin-bottom: 0;
  height: 16px;
  display: flex;
    align-items: center;
}
.contact-form textarea {
  padding: 8px 0 0 16px;
  background-color: transparent;

}
textarea:focus {
  outline: var(--iris);
  border-color: var(--iris);
}
textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.checkbox-flex {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.svg-click{
width: 16px;
height: 16px;
border: 1.25px solid #2E2F42;
border-radius: 2px;
margin-right: 8px;
}
.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-input:checked+label>span>svg{
background-color: #4D5AE5;
  border:none;
  outline: var(--iris);
background-origin: border-box;

}
.submit-btn {
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 24px auto 0 auto;
  cursor: pointer;

}
.btn-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  color: #ffffff;

  width: 106px;
  margin: 16px 32px;
}
.privacy-policy {
  color: var(--iris);
  cursor: pointer;
}
.privacy-policy:visited {
  color: var(--iris);
}
